<h3>Password</h3>
<form [formGroup]="passwordForm">
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input 
      formControlName="oldPassword"
      class="form-control" 
      type="text"
      id="oldPassword"
    >
    <div class="alert alert-danger" *ngIf="form.controls.oldPassword.touched && form.controls.oldPassword.invalid">
      <div *ngIf="form.controls.oldPassword.errors.required">Password is required.</div>
      <div *ngIf="form.controls.oldPassword.errors.matchOldPassword">Password not correct.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input 
      formControlName="newPassword"
      class="form-control" 
      type="text"
      id="newPassword"
    >
    <div class="alert alert-danger" *ngIf="form.controls.newPassword.touched && form.controls.newPassword.invalid">
      <div *ngIf="form.controls.newPassword.errors.required">Password is required.</div>
      <div *ngIf="form.controls.newPassword.errors.passwordPattern">Password doesn't match pattern.</div>
      <div *ngIf="form.controls.newPassword.errors.minlength">Password must have {{form.controls.newPassword.errors.minlength.requiredLength}}characters.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm New Password</label>
    <input 
      formControlName="confirmPassword"
      class="form-control" 
      type="text"
      id="confirmPassword"
    >
    <div class="alert alert-danger" *ngIf="form.controls.confirmPassword.touched && (form.controls.confirmPassword.invalid || form.errors?.matchNewPassword)">
      <div *ngIf="form.controls.confirmPassword?.errors?.required">Password is required.</div>
      <div *ngIf="form.errors?.matchNewPassword">Password doesn't match previous.</div>
    </div>
  </div>

    <button [disabled]="form.invalid" class="btn" [ngClass]="form.invalid && form.touched ? 'btn-danger' : 'btn-primary'">Submit</button>
</form>